.sidebarContainerExpanded {
    height: 100%;
    width: 20%;
    transition: width .4s ease;
    background-color: lightblue;
    display: flex;
}

.sidebarContainerCollapsed {
    height: 100%;
    width: 1.5%;
    transition: width .4s ease;
    background-color: lightblue;
}

.sidebarListContainerExpanded, .sidebarListContainerCollapsed {
    background-color: lightblue;
}

.sidebarListContainerExpanded {
    width: 90%;
    transition: width .7s ease;
}

.sidebarListContainerCollapsed {
    width: 0%;
    transition: width .7s ease;
}

.sidebarListExpanded, .sidebarListCollapsed {
    margin-top: 0px;
}

.sidebarListExpanded li, .sidebarListCollapsed li {
    cursor: pointer;
}

.sidebarListExpanded {
    list-style: none;
    width: 100%;
    animation-name: sidebarListFadeIn;
    animation-duration: 1s;
}

.sidebarListCollapsed {
    display: none;
}

.sidebarButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 100%;
}

.sidebarButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@keyframes sidebarListFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}